<!DOCTYPE html>
<html>
<head>
  <title>CokeDrops</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        
        <div class="drop drop-lg red-coke pull-left"></div>
        <h3 class="text-muted drop-lg-text">CokeDrops</h3>
        <% if Tweet.all.any? %>
          <div class="pull-right">
            <%= link_to "Reset DB", reset_tweets_path, method: :delete,
                data: { confirm: "Sure you want to delete all messages?" },
            title: "Reset Database" %>
          </div>
        <% end %>
      </div>
         

      <div class="row marketing">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <br/>
        <% end %>
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>

      <footer class="footer">
        <p>Paris Kemanes 2015 - Adaptive Lab Test</p>
      </footer>

    </div> <!-- /container -->
   


    <script src="assets/modalEffects.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
